.page-item.active .page-link {
    z-index: 0;
    color: #fff;
    background-color: #004589;
    border-color: #004589;
}
.page-item:hover .page-link, .page-link{
    font-weight: 700;
    color: #fff;
    background-color: #004589;
    border-color: #004589;
}
